.top-nav {
    margin-top: -120px;
}

.checkout-intro {
    display: flex;
    justify-content: space-around;        /* makes the child element items evenly and leave a half-size space on either side*/
    margin-top: -5%;
}

.main-title {
    font-size: 2.5rem;  /* Sett ønsket fontstørrelse */
    margin-bottom: 20px; /* Gir litt plass under tittelen */
    margin-bottom: 30px;
}

.checkout-form {
    margin-top: 50px;
    margin-left: 90px;
}

.cart-count {
    font-size: 17px;
    color: red;
    font-weight: bold;
}

.cart-movie-image {
    width: 10%;
}

#go-to-cart-button {
    font-family: 'anek tamil', 'sans serif';
    background-color: #d69b28;
    border-color: #543f17;
    color: black;
    border-radius: 2em;
    padding: 4px 14px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

#go-to-cart-button:hover {
    background-color: #ebbe5e; 
}

.buyforinput, .rentforinput {
    color: #d69b28;
    font-family: 'bakbak one', cursive;
    font-size: 26px;
    margin: 20px 0;
    margin-top: 500px;
}

.spidermanposter {
    width: 200px;
    justify-content: center;
    align-items: center;
}

.posterContainer {
    width: 230px;
    height: 350px;
    padding: 3%;
}

/* .payment-details {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
} */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
  
.bottom-nav,
#menu-checkbox {
    display: none;         /*hides the nav and checkbox by default*/
}

.bottom-nav li {
    display: block;       /*shows the nav list vertical*/
}

.bottom-nav {
    position: absolute;
    top: 100%;
    margin: 0;           /*this code made the nav bar to go underneath the payment method*/
    padding: 5px;
    line-height: 50px;
    cursor: pointer;
}

#menu-checkbox:checked ~ .bottom-nav {
    display: block;
}

.footer-container {
    background-color: rgba(0, 0, 0, 0.4);
}




/* Stil for popup-handlekurven */
.cart-icon-container {
    position: relative;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
}

.cart-popup {
    display: none;
    position: absolute;
    margin-top: 20px;
    top: 40px;
    right: 0;
    width: 270px;
    background-color: rgb(252, 208, 97);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.cart-popup span {
    font-family: 'anek tamil', 'sans serif';
}





/*Styles for phone*/

@media only screen and (max-width: 600px) {
    
    body {
        background-size: 320%;
        background-position: center center;
    }

    h1 {
        font-size: 24px;
        padding: 20px;
    }
    
    .posterContainer {
        width: 180px;
        height: 245px;
    } 

    .checkout-form {
        margin-top: 10px;
        margin-left: 10px;
    }

    .cart-movie-image {
   
    }

    .payment-details {
        margin-top: 20px;
    }

    .bottom-nav {
        line-height: 35px;
    }

    .button-container {
        margin-top: 40px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        line-height: 2px;
    }
}


/* Styles for tablets*/

@media only screen and (min-width:601px) and (max-width:900px) {

    body {
        background-size: 220%;
        background-position: center center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        line-height: 2px;
    }
}


