.details-nav {
    margin-top: -120px;
}

.image-container {
    width: 300px;
    height: 380px;
}

.movie-intro {
    display: flex;
    margin-bottom: -60px;
}

.movie-intro p {
    font-size: 23px;
}

.poster-container {
    max-width: 900px; 
    padding: 20px;
}

.spidermanposter {
    width: 200px;
}

.paragraph-one {
    margin-bottom: 80px;
    font-size: 20px;
}

.button {
    margin: 20%;
}

h2 {
    font-size: 18px;
}

img {
    width: 100%;
}

figure {
    padding: 10px;
}

.starring-images {
    display: flex;
    max-width: 250px;   /*changes the size of the images*/
}

.director-image {
    display: flex;
    max-width: 100px;
}

h3 {
    font-size: 18px;
}

.footer-container {
    background-color: rgba(0, 0, 0, 0.4);
}



/*Styles for phone*/

@media only screen and (max-width: 600px) {

    .details-nav {
        margin-top: 2px;
    }

    .movie-intro {
        flex-direction: column;
    }

    h1 {
        font-size: 24px;
        padding: 20px;
    }

    p {
        font-size: 16px;
    }

    .image-container {
        width: 180px;
        height: 245px;
        margin-top: 15px;
        margin-left: 30%;
    }

    .button {
        margin-left: 120px; 
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        line-height: 2px;
    }
}



/* Styles for tablets*/

@media only screen and (min-width:601px) and (max-width:900px) {
    
    h1 {
        font-size: 26px;
    }

    .paragraph-one {
        font-size: 22px;
    }

    .image-container {
        width: 220px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        line-height: 2px;
    }
}
