nav ul {
    margin-top: 45px;
}

#cart-items {
    color: white;
}

#clear-cart {
    font-size: 15px;
}

.shoppingbag-layout {
    display: flex;                /* Enables Flexbox layout */
    justify-content: space-between;
}

.shoppingbag-right {
    margin-right: 200px;
    margin-top: 120px;
}

.posterContainer {
    width: 110px;
    height: 150px;
}

.continue-search {
    text-decoration: none;
}

.continue-search h3 {
    font-size: 20px;
}


.continue-search:hover h3,
.continue-search:hover #icon {
    color: #d69b28;
}

.footer-container {
    background-color: rgba(0, 0, 0, 0.4);
}






/*Styles for phone*/

@media only screen and (max-width: 600px) {

    .shoppingbag-right {
        margin-right: 10%;
        margin-top: 30%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        line-height: 2px;
    }


}