body {
    background-image: url('../images/backroundsuccess.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

.purchase-details {
    display: flex;
    justify-content: center;  
    margin-left: -200px;         /*placed the flexbox more to the left*/
    transform: rotate(-3deg);    /* rotate all the content 3degres*/
}

.success-nav {
    transform: rotate(-3deg); 
}

.details {
    display: flex;
}

.details h3 {
    padding: 30px;
}

#posterContainer {
    display: flex;
}

.posterContainer {
    max-width: 70px;
    margin: 12px;
    margin-top: 60px;
}

.cart-item p {
    padding: 5px;
}

h1 {
    margin-bottom: 70px;
    font-size: 35px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: -200px;
    margin-right: 100px;
    margin-bottom: 200px;
    transform: rotate(-3deg);
}

.some-details {
    padding: 40px;
}

.some-details i {
    margin: 20px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    margin-right: 100px;
    cursor: pointer;
}

h4 {
    font-family: 'anek tamil', 'sans serif';
    border-color: black;
    font-size: 25px;
}

h4:hover {
    color: #d69b28;
    cursor: pointer;
}

#icon {
    color: white;
}

.footer-container {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 280px;
}

.continue-search {
    text-decoration: none;
}

.continue-search:hover h3,
.continue-search:hover #icon {
    color: #d69b28;
}



/* Style for phones */

@media only screen and (max-width: 600px) {

    body {
        background-size: 320%;                  /*zoomes inn on the backround image*/
        background-position: center center;     /*center the picture after zooming in*/
        overflow-x: hidden;
    }

    .purchase-details {
        margin: 0;
    }
    
    h1 {
        margin-top: -40px;
        font-size: 20px;
    }

    h3 {
        font-size: 13px;
    }

    .posterContainer  {
        margin: 5px;
        margin-top: 5px;
    }

    .info {
        justify-content: center;
        margin: -90px; 
    }

    .some-details i {
        margin: 5px;
    }

    .some-text  {
        position: absolute;
        bottom: 0;
        left: 40%;
        margin-bottom: -100px;
        justify-content: center;
    }

    .links {
        flex-direction: column;
        justify-content: center;
        margin-right: 20%;
    }

    .button {
        margin-right: 60px;
        margin-top: 70px;
    }

    h4 {
        margin-right: 160px;
        margin-top: 80px;
        font-size: 16px;
    }


    .footer-container {
        flex-direction: column;
        align-items: center;
        line-height: 2px;
    }
}


/* Styles for tablets*/

@media only screen and (min-width:601px) and (max-width:1000px) {

    body {
        background-size: 250%;
        background-position: center center;
        overflow-x: hidden;
    }

    .purchase-details {
        margin: 0;
    }

    .some-details i {
        margin: 5px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        line-height: 2px;
    }

}