.videos-intro {
    display: flex;
    margin-top: 100px;
    line-height: 90px;            /*the space bewteen the text*/
}   

nav a {
    padding: 10px;                /*since the spiderman backround picture is moved closer to the top, i adjustet the padding in the nav bar*/
}

.video-nav {
    margin-top: -175px;
}

.batmanbackround1 {
    width: 300px;
    margin-top: -260px;
    margin-left: 30px;
} 

.click-here {
    font-family: 'bakbak one', cursive;
    font-size: 38px;
    color: #d69b28;
    text-decoration: none;
    margin: 180px;
}

.click-here:hover {
    color: #ebbe5e; ;
}

h3 {
    font-size: 20px;
}

.movies-top-rated, .movies-trending {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.movies-container-one, .movies-container-two {
    display: flex;
    flex-direction: column;
    overflow-x: scroll; 
    scroll-snap-type: x proximity;
    max-height: 900px;
} 

.movies-top-rated::-webkit-scrollbar, .movies-trending::-webkit-scrollbar {
    display: none; /* Skjul synlig rullefelt i WebKit-baserte nettlesere (Chrome, Safari) */
} 

.movies-top-rated img, .movies-trending img {
    width: 200px;                        /*this change the image size by taking up as much space in the flexbox as it can together*/
    height: auto;
    scroll-snap-align: start;
    margin-bottom: 30px;
} 

.movies-top-rated img:hover,
.movies-trending img:hover {
    transform: scale(1.1); /* Øk størrelsen med 10% */
    transition: transform 0.3s ease; /* Legg til en jevn overgangseffekt */
}

.fa-solid {
    margin-top: 80px;
} 

/* Stil for søkefeltet */
.search-form {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #543f17;
    border-radius: 5px;
    padding: 1px;
    width: 300px;
    height: 40px;
    background-color: black;
}

.search-icon {
    margin-right: 5px;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    background-color: black;
    color: #f5c565;
}

.search-button {
    font-family: 'anek tamil', 'sans serif';
    background-color: #d69b28;  /*styles for my link, makes it look like a buttton*/
    border-color: #543f17;
    color: black;               /*color of the text*/
    font-size: 22px;
    border-radius: 2em;
    padding: 4px 14px;  
    cursor: pointer;
    margin-left: 20px;
}

.search-button:hover {
    background-color: #ebbe5e;
}


/*Styles for phone*/

@media only screen and (max-width: 600px) {

    .spiderbackround1 {
        width: 200px;
        margin-top: -100px;
    }

    h1 {
        font-size: 16px;
    }

    .click-here {
        font-size: 26px;
        margin: 40px;
    }

    h3 {
        font-size: 16px;
    }

    .movies-top-rated, .movies-trending {
        width: 100%;
        margin: 0 auto;
    }

    .movies-top-rated img, .movies-trending img {
        width: 200px;
        margin-right: 20px;
        height: auto;
    }

/*
    .movies-top-rated, .movies-trending {
        display: flex; 
        overflow-x: scroll;              /*this shows my images in a carusell on mobile devices
        scroll-snap-type: x mandatory;
        width: 80%;
        height: 400px;
        max-width: 100%;
        min-height: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }*/
/*
    .movies-top-rated img, .movies-trending img {
        flex: 0 0 100%;
        scroll-snap-align: start;
        width: 80%;                     /*the image is using 80% of the carusell container
        height: auto;
        max-width: 100%;                /*so the images dont strecth out of proprsions
        max-height: 100%;
    }
}


/* Styles for tablets*/

@media only screen and (min-width:601px) and (max-width:900px) {
    .spiderbackround1 {
        width: 300px;
        margin-top: -100px;
    }

    nav a {
        padding: 10px;
    }
    /*
    .movies-top-rated, .movies-trending {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 20%;
        margin-right: 10%;
    }*/

    .fa-solid {
        display: none;
    }

}
