.about-info, .about-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 120px;
}

.movie1, .movie2, .movie3 {
    max-width: 250px;
    margin: 20px;
}

.footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-size: 14px;
}



/*Styles for phone*/

@media only screen and (max-width: 600px) {

    .about-container {
        flex-direction: column;
        margin: 100px;
    }

    .movie1, .movie2, .movie3 {
        max-width: 100px;
        margin: 5px;
    }
}


/* Styles for tablets*/

@media only screen and (min-width:601px) and (max-width:900px) {
    
    .movie1, .movie2, .movie3 {
        max-width: 200px;
        margin: 5px;
    }
}
