body {
    background-color: black;
    margin: 0px;
}

.logo {
    max-width: 10%;
}

.top-nav {
    margin-top: -50px;
}

.top-nav li {
    display: inline;
    float: right;
}

.top-nav a {
    font-family: 'anek tamil', 'sans serif';
    color: white;
    text-decoration: none;        
    padding: 30px;
}

.top-nav a:hover {
    color: #c4c3c3;
}

.current {
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-gap: 20px;
    padding: 20px;
}

h1 {
    font-family: 'bakbak one', cursive;
    font-size: 35px;
    color: white;
}

p {
    font-family: 'anek tamil', 'sans serif';
    font-size: 25px;
    color: white;
}

.nav-container {
    font-family: 'anek tamil', 'sans serif';
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-container {
    width: 70%;
    padding: 60px;
    line-height: 40px;
}

.nav-container ul {
    list-style-type: none;
}


main {
    margin-left: 20%;
    margin-top: 10%;
    margin-right: 20%;
}

.movie1 {
    max-width: 30%;
}

.movie2 {
    max-width: 30%;
}

.movie3 {
    max-width: 30%;
}

h2 {
    font-size: 15px;
    font-family: 'anek tamil', 'sans serif';
    color: white;
}


footer {
    padding-top: 100px;
    font-family: 'anek tamil', 'sans serif';
    color: white;
    font-size: 12px;
}


.footer-details {
    display: flex;
    justify-content: center;
}

.footer-details h2 {
    padding: 50px;
}

footer i {
    margin-inline-end: 10px;
    color: white;
}
