body {
    background-image: url('images/backround\ buy\ chechout.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.checkout-intro {
    display: flex;
    justify-content: space-around;         /*makes the child element items evenly and leave a half-size space on either side*/
}

.buyforinput, .rentforinput {
    color: #d69b28;
    font-family: 'bakbak one', cursive;
    font-size: 26px;
    margin: 10px 0;
}

.spidermanposter {
    width: 200px;
    justify-content: center;
    align-items: center;
}

.payment-details {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.bottom-nav,
#menu-checkbox {
    display: none;         /*hides the nav and checkbox by default*/
}

.bottom-nav li {
    display: block;       /*shows the nav list vertical*/
}

.bottom-nav {
    position: absolute;
    top: 100%;
    margin: 0;           /*this code made the nav bar to go underneath the payment method*/
    padding: 5px;
    line-height: 50px;
    cursor: pointer;
}

#menu-checkbox:checked ~ .bottom-nav {
    display: block;
}

.button-container {
    margin-top: 150px;
}

.footer-container {
    background-color: rgba(0, 0, 0, 0.4);
}



/*Styles for phone*/

@media only screen and (max-width: 600px) {
    
    body {
        background-size: 320%;
        background-position: center center;
    }
    
    .spidermanposter {
        width: 150px;
        padding: 20px;
        margin-top: 20px;
    }

    .payment-details {
        margin-top: 20px;
    }

    .bottom-nav {
        line-height: 35px;
    }

    .button-container {
        margin-top: 120px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        line-height: 2px;
    }
}


/* Styles for tablets*/

@media only screen and (min-width:601px) and (max-width:900px) {

    body {
        background-size: 220%;
        background-position: center center;
    }
}


