body {
    background-image: url(images/backroundcontact.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.contact-fieldset, h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.contact-fieldset {
    display: block;
    width: 20rem;
    height: 15rem;
    background-color: white;
    opacity: 50%;
    border-radius: 1em;
    padding: 20px;
    line-height: 80px;
    font-family: 'anek tamil', 'sans serif';
    font-size: 23px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.email-nav,
#email-checkbox {
    display: none;              /*hide the checkbox*/
}

input [type="text"] {
    background-color: black;
    color: white;
}

#email-checkbox:checked ~ .email-nav {     /*show the nav menu when checkbox is checked*/
    display: block;
}

.email {
    cursor: pointer;
}

.email-nav {
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    left: 400px;
    padding: 20px;
    border-radius: 1em;
    height: 15rem;
    line-height: 30px;
    font-family: 'anek tamil', 'sans serif';
    font-size: 20px;
}

#message {
    height: 70px;
}

.sendinput {
    background-color: #d69b28;
    border-color: #543f17;
    border-radius: 1rem;
    padding: 2px;
}

.number,
#call-checkbox {
    display: none;
}

#call-checkbox:checked ~ .number {
    display: block;
}

.call {
    cursor: pointer;
}

.number {
    position: absolute;
    top: 0;
    left: 400px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 1em;
    line-height: 60px;
    font-family: 'anek tamil', 'sans serif';
    font-size: 20px;
}

.chat-nav,
#chat-checkbox {
    display: none;
}

#chat-checkbox:checked ~ .chat-nav {
    display: block;
}

.chat {
    cursor: pointer;
}

.chat-nav {
    position: absolute;
    top: 0;
    left: 400px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 1em;
    line-height: 30px;
    font-family: 'anek tamil', 'sans serif';
    font-size: 20px;
}

#chat {
    height: 200px;
}



/* Style for phones */

@media only screen and (max-width: 600px) {
    
    .contact-fieldset {
        width: 15rem;
        height: 11rem;
        padding: 10px;
        line-height: 60px;
        font-size: 20px;
    }

    .email-nav, .number, .chat-nav {
        top: 13rem;
        left: 0;
    }
}
