body {
    background-image: url('images/spidermanbackround2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.movie-intro {
    display: flex;
    margin-bottom: 160px;
}

.poster-container {
    max-width: 300px; 
}

.spidermanposter {
    width: 200px;
}

.paragraph-one {
    margin-bottom: 80px;
}

.button {
    margin: 70px;
}

h1 {
    /*should i make one size to fit all h1, except the home page?*/
}

h2 {
    font-size: 16px;
}

img {
    width: 100%;
}

figure {
    padding: 10px;
}

.starring-images {
    display: flex;
    max-width: 250px;   /*changes the size of the images*/
}

.director-image {
    display: flex;
    max-width: 100px;
}

.movie-details {
    line-height: 5px;
}

h3 {
    font-size: 18px;
}



/*Styles for phone*/

@media only screen and (max-width: 600px) {

    .movie-intro {
        flex-direction: column;
    }

    h1 {
        font-size: 24px;
        padding: 20px;
    }

    p {
        font-size: 16px;
    }

    .spidermanposter {
        width: 250px;
        margin-top: 20px;
        margin-left: 50%;
    }

    .button {
        margin-left: 200px;
    }

    /*make more space after the button when phone size???*/


}



/* Styles for tablets*/

@media only screen and (min-width:601px) and (max-width:900px) {
    
    h1 {
        font-size: 26px;
    }

    p {
        font-size: 16px;
    }

    .spidermanposter {
        width: 180px;
    }

}

}