body{
    background-image: url('images/backround-login.JPG');
    background-size: 140%;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'anek tamil', 'sans serif';
    color: white;
}

.form-details, h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forminput {
    width: 20rem;
    height: 2rem;
    background-color: white;
    opacity: 40%;
    border-radius: 1em;
}

.emailinput ,.passwordinput {
    font-size: 22px;
}

.forgotpasswordinput {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.createaccountinput {
    font-size: 20px;
    margin-bottom: 80px;
}

.createaccountinput:hover,
.forgotpasswordinput:hover {
    color: #d69b28;
    cursor: pointer;
}

.checks {
    display: none;
}

.footer-container {
    background-color: rgba(0, 0, 0, 0.4);
}




/*Styles for phone*/

@media only screen and (max-width: 600px) {
    
    body {
        background-size: 335%;
        background-position: center center;
    }
    
    h1 {
        font-size: 24px;
    }

    .forminput {
        width: 12rem;
        font-size: 20px;    
    }

    .emailinput, .passwordinput {
        font-size: 20px;
    }

    .forgotpasswordinput {
        font-size: 16px;
    }

    .createaccountinput {
        font-size: 19px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        line-height: 2px;
    }
}


/* Styles for tablets*/

@media only screen and (min-width:601px) and (max-width:900px) {
    
    body {
        background-size: 200%;
        background-position: center center;
    }
}






