body {
    background-image: url(images/backroundpayment.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    min-height: 70vh;
}

fieldset {
    background-color: #747474 ;
    opacity: 75%;
    width: 200px;
    padding: 25px;
    border-radius: 1em;
}

.payment-form {
    display: block;
    background-color: #c4c3c3;
    font-family: 'anek tamil', 'sans serif';
    border-radius: 1em;
}

.payment-details {
    color: white;
    font-family: 'anek tamil', 'sans serif';
    display: block;
    width: 20rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 1em;
    border-color: white;
}

.savecheck {
    color: white;
    font-family: 'anek tamil', 'sans serif';
    font-size: 10px;
}

input[type="text"] {
    padding: 2px;
    width: 100%;
    min-height: 20px;
    min-width: 8px;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.footer-container {
    background-color: rgba(0, 0, 0, 0.4);
}


/*Styles for phone*/

@media only screen and (max-width: 600px) {
    
    .container {
        min-height: 40vh;
        margin-left: 0;
        margin-right: auto;
    }

    fieldset {
        padding: 20px;
        width: 90px;
        align-items: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        line-height: 2px;
    }

}

/* Styles for tablets*/

@media only screen and (min-width:601px) and (max-width:900px) {

    .footer-container {
        flex-direction: column;
        align-items: center;
        line-height: 2px;
    }
}